

@font-face {
    font-family: "GothamRnd-Book";
    src: url('../fonts/Gotham.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "GothamRnd-Book" !important;

}

#login {
    border-radius: 40px;
    background-color: #e91e63 !important;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;

}

#login:hover {
    border-radius: 40px;
    border: 1px solid #e91e63 !important;
    background-color: #ffffff !important;
    color: #e91e63 !important;
}


#logo {

    width: 100%;
    height: 80px;

}

#buscar {
    border-radius: 40px;
    background-color: #e91e63 !important;
    color: #ffffff;
}


#buscar:hover {
    border-radius: 40px;
    border: 1px solid #e91e63 !important;
    background-color: #ffffff !important;
    color: #e91e63 !important;
}


#nova_aula {
    border-radius: 40px;
    background-color: #170085 !important;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;

}


#nova_aula:hover {
    border-radius: 40px;
    border: 1px solid #170085 !important;
    background-color: #ffffff !important;
    color: #170085 !important;
}


#borda-input {
    border-radius: 40px;
    border: 1px solid #f7f7f7 !important;
    background-color: #f7f7f7;
}


#title {
    border-left: solid 12px #e91e63;
    color: #170085;
}

.m-image {
    background-image: url('img/banner-login.jpg');
    background-position: top;

}

.text-aux,
.text-aux:hover {
    color: #646567;
}


#link-cadastrar {
    color: #170085 !important;
    font-weight: bolder;
    text-align: center;
}

#btn-cadastrar {
    border-radius: 40px;
    border: 1px solid #170085 !important;
    background-color: #170085 !important;
    color: #ffffff !important;
    font-weight: bolder;
    text-align: center;

}

.page-item.active .page-link{
    background: #170085  !important;
    border-color:  #170085  !important;
    color: white !important;
}

.page-link{
    color: #170085 !important;
}

.titulo_anuncio {
    border-radius: 40px;
    border: 1px solid #170085 !important;
    background-color: #ffffff !important;
    color: #170085 !important;
    font-weight: bolder;
    text-align: center;

}

.tarifa_anuncio {
    border-radius: 40px;
    border: 1px solid #e91e63 !important;
    background-color: #ffffff !important;
    color: #e91e63 !important;
}

#btn-cadastrar:hover {
    border-radius: 40px;
    border: 1px solid #170085 !important;
    background-color: #ffffff !important;
    color: #170085 !important;
    font-weight: bolder;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {

    cursor: pointer;
}


.btn-cadastrar:hover {
    border-radius: 40px;
    border: 1px solid #170085 !important;
    padding: 6px 50px;
    background-color: #170085 !important;
    color: #ffffff !important;
    font-weight: bolder;
    text-align: center;


}

.btn-cadastrar {
    border-radius: 40px;
    border: 1px solid #170085 !important;
    padding: 6px 50px;
    background-color: #ffffff !important;
    color: #170085 !important;
    font-weight: bolder;
    text-align: center;
}


#myFooter {
    background-color: #fefefe;
    color: #170085;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
}

#myFooter .footer-copyright {
    background-color: #0f0057;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 30px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: white;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: #170085;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #555555;
}

#myFooter a {
    color: #555555;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #e91e63;
}

.alert-info {
    border-radius: 40px !important;
    border: 1px solid #e91e63 !important;
    background-color: #e91e63 !important;
    color:#ffffff !important;
    font-weight: bolder;
    text-align: center;
}

.modalidade-info {
    border-radius: 40px !important;
    border: 1px solid #f7f7f7 !important;
    background-color: #f7f7f7 !important;
    color: #555555 !important;
    font-weight: bolder;
    text-align: center;
}

#viewContact {
    border-radius: 40px;
    background-color: #e91e63 !important;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;

}


@media screen and(max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
